.storybook-button {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid #707070;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #888888;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
}
.storybook-button--small {
  font-size: 14px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 15px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
