.wrapper {
  align-items: center;
  border-bottom: 2px solid #D1D1D1;
  display: flex;
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  height: 80px;
  justify-content: space-between;
  padding: 0 10px;
}

.wrapper div {
  display: flex;
  align-items: center;
}

.wrapper svg#logo {
  display: inline-block;
  height: 80px;
  width: 84px;
  vertical-align: top;
}

.wrapper span.span--title {
  font-weight: 900;
  font-size: 21px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
}

.wrapper button {
  margin-left: 11px;
}
.wrapper button:first-of-type {
  margin-left: 32px;
}
.wrapper button:last-of-type {
  margin-right: 11px;
}

.wrapper a#menu-icon {
  text-decoration: none;
}
.wrapper a#menu-icon span {
  color: #313132;
  display: block;
  font-size: 15px;
  text-align: center;
}
.wrapper a#menu-icon svg {
  box-sizing: border-box;
  color: #313132;
  display: block;
  height: 44px;
  margin: 0 10px;
  padding: 0 10px;
  width: 44px;
}
