.wrapper {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  border-bottom: 2px solid #D1D1D1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.wrapper div {
  display: flex;
  align-items: center;
}

.wrapper svg {
  display: inline-block;
  height: 80px;
  width: 84px;
  vertical-align: top;
}

.wrapper span.span--title {
  font-weight: 900;
  font-size: 21px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
}

.wrapper button {
  margin-left: 11px;
}
.wrapper button:first-of-type {
  margin-left: 32px;
}
.wrapper button:last-of-type {
  margin-right: 11px;
}
