.wrapper {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  border-bottom: 2px solid #D1D1D1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.wrapper div {
  display: flex;
  align-items: center;
}

svg {
  display: inline-block;
  min-height: 80px;
  min-width: 84px;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 21px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
}

button {
  margin-left: 11px;
}
