div.div--service {
  border: 1px solid #C9C9C9;
  display: block;
  margin: 0 0 10px 0;
  min-height: 150px;
  padding: 20px 15px;
}

div.div--service span.span--service-title {
  font-size: 20px;
  font-weight: 700;
}

div.div--service span.span--service-title svg {
  height: 1em;
  padding-left: 5px;
}
